<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Tester.Properties.Settings>
            <setting name="Tester_BCPrintWebServiceFunctions_BCPrintWebService" serializeAs="String">
                <value />
            </setting>
        </Tester.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Tester.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://businesscentral.dynamics.com/f968cbe4-b4a1-48ff-9920-5224b47e606a/V15_Test/WS/CRONUS%20UK%20Ltd./</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>SZABOLCS.GYORKE</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>MGJOHYH4SJaBj2JYLyq0yVJ4Ws59XkxFoWE/VeYNvUU=</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>SZABOLCSG-PC2</value>
            </setting>
            <setting name="UploadFolder1" serializeAs="String">
                <value>C:\temp\UploadTest1</value>
            </setting>
            <setting name="UploadFolder2" serializeAs="String">
                <value>C:\temp\UploadTest2</value>
            </setting>
            <setting name="DownloadFolder1" serializeAs="String">
                <value>C:\temp\DownloadTest1</value>
            </setting>
            <setting name="DownloadFolder2" serializeAs="String">
                <value>C:\temp\DownloadTest2</value>
            </setting>
            <setting name="AuthType" serializeAs="String">
                <value>Basic</value>
            </setting>
        </Tester.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
